
.modal{
	position: absolute;
	background-color: rgba(45,23,157,0.3);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cuadro_modal{
	width: 70%;
	background-color: white;
	padding: 2rem;
}
.subtitulo{
	font-size: 16px;
}
p{
	font-size: 14px;
}